@import url(http://fonts.googleapis.com/css?family=Ubuntu);


* {
    margin: 0;
    padding: 0;
}

.bodyContent {
    padding-top: 10.375rem;
}

.navBody {
    color: #505D68;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.875rem;
    margin-left: 25.375rem;
    margin-top: 1.25rem;
    cursor: pointer;
}

.titleBody {
    width: 52.5rem;
    text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 1.5625rem;
    text-align: center;
    color: #011645;
    transform: translateX(10%);
}

.titleBox {
    display: flex;
    justify-content: center;
    margin-top: 1.75rem;
}

.titleClients {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5625rem;
    text-align: center;
    color: #011645;
    transform: translateX(5%);

}

.numberCounter {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.5625rem;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 0, 0, 1);
}

.dfNumber {
    font-family: 'Ubuntu';
    font-style: bold;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5625rem;
    text-align: center;
    color: #041741;
    width: 7.375rem;
    margin-top: 0.8125rem;
}

.blockDf {
    display: flex;
    flex-direction: row;
    margin-left: 44.5rem;
    margin-top: 4.3125rem;

}

.marginBlock {
    margin-right: 8.75rem;
}

.aboutTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: #011645;

}

.aboutTitleBlock {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 6.875rem;
    transform: translateX(5%);

}

.aboutUsPict {
    display: flex;
    width: 83.25rem;
    margin-left: 17.25rem;

}

.image-container {
    margin-left: 10.25rem;
    margin-top: 1.25rem;
}

.textAbout {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    text-align: justify;
    color: black;
    width: 83.375rem;
    margin-left: 27.525rem;
    margin-top: 1.0625rem;

}

.textAboutMargin {
    margin-top: 2.3125rem;

}

.sliderBox {
    margin-left: 20%;
    justify-content: center;
    z-index: 1;
}