.containerFooter {
    background: #041741;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    height: 25.625rem;
    width: 100%;
    margin-top: 8.25rem;
    padding-left: 23.125rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.connectBlock {
    margin-top: 2.375rem;
    margin-left: 0.9375rem;
}

.callButton {
    width: 18.75rem;
    height: 2.875rem;
    left: 0.9375rem;
    top: 0rem;
    background: #9C10E2;
    border-radius: 0.3125rem;
    color: white;
    border: none;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}

.callButton:hover {
    background: #8e3ab8bd;
}

.infoTextFoter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-decoration-line: underline;
    color: #FFFFFF;
    cursor: pointer;
    width: 11rem;
    margin-top: 1.875rem;
}

.phoneFooter {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    color: #FFFFFF;
    margin-top: 2.125rem;
    cursor: pointer;

}

.mailFooter {
    font-family: 'Ubuntu Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    margin-top: 2.4375rem;
    cursor: pointer;


}

.iconFooter {
    max-width: 1.875rem;
    max-height: 1.875rem;
    margin-right: 0.625rem;
    cursor: pointer;
    transform: translateY(10%);
}

.flexInfo {
    display: flex;
    flex-direction: row;
}

.infoTextFooterName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #FFFFFF;
    width: 18.75rem;
    margin-top: 2rem;
    margin-left: 2.375rem;
}

.infoTextFooterReq {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #FFFFFF;
}

.flexTextUp {
    margin-top: 1.875rem;
}

.flexText {
    display: flex;
    flex-direction: row;
    margin-left: 2.375rem;

}


.orderButton {
    width: 18.75rem;
    height: 2.875rem;
    left: 0.9375rem;
    top: 0rem;
    background: rgba(255, 0, 0, 1);
    border-radius: 0.3125rem;
    color: white;
    border: none;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
    margin-top: 2.8125rem;
    margin-left: 2.375rem;

}

.orderButton:hover {
    background: rgb(133, 16, 16);
}

.offertaText {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 31.25rem;
    margin-left: 4.37525rem;
    margin-top: 22.8125rem;
}