@import url(http://fonts.googleapis.com/css?family=Ubuntu);

.basicContainerHeader {
    background: rgba(248, 249, 250, 1);
    height: 10.375rem;
    position: fixed;
    z-index: 5;
    width: 100%;
}

.topPartFlex {
    display: flex;
    flex-direction: row;
    padding-left: 23.5rem;
    padding-right: 19.375rem;
}

.cityButton {
    background: #DEE8FF;
    border-radius: 0.1875rem;
    color: rgba(222, 232, 255, 1);
    width: 12.9375rem;
    height: 1.6875rem;
    border: none;
    margin-top: 0.4375rem;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.875rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #041741;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}

.cityButton:hover {
    background: #1eac713f;
}

.logoImage {
    margin-top: 0.75rem;
}

.iconBlock {
    margin-top: 3.125rem;
    margin-left: 1.8125rem;
    white-space: nowrap;

}

.iconHeader {
    margin-left: 0.1875rem;
    margin-right: 0.1875rem;
    cursor: pointer;
    margin-top: 0.25rem;
}

.iconHeader:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.inputHeader {
    width: 27.875rem;
    max-height: 2.375rem;
    border: solid 0.0625rem rgba(78, 107, 173, 1);
    padding-left: 0.9375rem;

}

.inputHeader:focus {
    outline: none;
    box-shadow: none;
}

.buttonFind {
    max-height: 2.5rem;
    width: 7.25rem;
    background: rgba(78, 107, 173, 1);
    color: white;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;

}

.buttonFind:hover {
    background: #1eac719c;

}

.blockInput {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    margin-left: 1.625rem;
}

.glassButton {
    margin-left: 0.9375rem;
    width: 1.375rem;
    height: 1.375rem;
}

.infoHeader {
    margin-left: 4.75rem;
    align-items: center;
    text-align: right;
}

.timeWorkText {
    color: rgba(78, 107, 173, 1);
    margin-top: 1.0625rem;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    text-transform: uppercase;
}

.phoneText {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.75rem;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    margin-top: 0.9375rem;
    color: #001B5B;
    white-space: nowrap;
}

.mailText {

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.125rem;
    color: #4E6BAD;
    margin-top: 0.9375rem;

}

.line {
    display: block;
    border-top: 0.0625rem solid rgba(7, 82, 255, 1);
    width: 81.25rem;
    margin-left: 23.5rem;
    margin-top: 0.625rem;
}

.menuFlex {
    display: flex;
    flex-direction: row;
    margin-left: 26.875rem;
    padding-bottom: 1.25rem;
}

.textMenu {
    margin-left: 11.25rem;
}

.textMenuStart {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    text-align: right;
    text-transform: uppercase;
    color: #001B5B;
    cursor: pointer;
    margin-top: 0.3125rem;
}