* {
    margin: 0;
    padding: 0;
}


html,
body {
    overflow-x: hidden;
    font-size: 16px;
}

@media (max-width: 1920) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1366px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 1024) {
    html {
        font-size: 18px;
    }
}